@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, serif, sans-serif;
}

main {
    margin: 0 10rem 0 10rem;
}

ul#menu {
    list-style: none;
    display: flex;
    align-items: center;
}

ul#menu li {
    padding: 0.7rem;
}

nav {
    background-color: #0071a5;
}

ul#menu li i {
    font-size: 2rem;
    color: #ffffff;
}

ul#menu li a {
    color: #ffffff;
    text-decoration: none;
}

ul#menu li:hover {
    transform: scale(1.2);
}

header img {
    width: 100%;
}


/* header h1 {
    text-align: center;
    margin-top: 3rem;
} */

header p {
    margin: 0 10rem 0 10rem;
    padding: 1rem;
}

section#cursos h2 {
    text-align: center;
}